/* .home{
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 600% 600%;
    animation: gradientBG 10s ease infinite;


} */


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.card{
     max-width: 500px;
     height: max-content;
     margin: 25px auto;
     border: 1px solid rgb(173, 173, 173, 173);
     border-radius: 5px;
}


.card-header {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}


.card-header > h4{
    padding: 12px;
    margin:0px;

}


.card-pic img {
    width:30px;
    border-radius: 30px;
    height:auto;
    object-fit: contain;
    padding: 5px;

}


.card-content{
   text-align:left;
   line-height: 4px;
   padding: 3px 10px;
   border-bottom: 1px solid rgb(173, 173, 173, 173)
}




.add-comment{
    display:flex;
    align-items: center;

    
}

.add-comment span {
    padding: 5px;

}

.add-comment input{
    border: none;
    padding: 11px;
    margin: 0;
    outline: none; 
}

.comment{
    font-weight: bolder;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #423dcf;
    padding: 12px 10px ;
}

.post-img{
    width: 338px;
    height: 338px;
}
@media screen and (max-width:428px){
    .post-img{
        width: 252px;
        height: 252px;
    }
}
.material-symbols-outlined-red {
    color: red;
  font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined{
    cursor: pointer;
    
}


.showComment{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    background-color: rgba(16, 13, 13, 0.4);
    
}

.container{
    display: flex;
    width:80%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 500px;

}

.postPic{
    background-color: black;
    display: flex;
    align-items: center;

}

.postPic img{
    object-fit: contain;
    width: 100%;
}

.details{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;

}

.comment-section{
    flex-grow: 4;
    text-align: left;
    margin-left: 10px;
}

.close-comment{
    position: fixed;
    top: 1%;
    right:5%;
    color: white;
    border: none;
    cursor: pointer;

}

.material-symbols-outlined-comment{
    
  font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

.card-image{
    width: 100%;
    
}


a{
    color: #fff;
}


